@import "tailwindcss";

html, body, #root { height: 100%; }
@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.bg-gradient-animate {
  background: linear-gradient(270deg, #4f46e5, #ec4899, #facc15, #10b981);
  background-size: 800% 800%;
  animation: gradientBG 15s ease infinite;
}